body {
	background-color: #fcf7f2;
	font-family: Courier, sans-serif;
}

#wrapper {
	margin: 0 auto;
	width: 90%;
	height: 3000px;
}

.header {
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	font-size: 1.5em;
}
#part_one {
	position: fixed;
	top: 225px;
	
}

#part_two {
	position: relative;
	top: 2000px;
}

#albert {
	color: gray;
	position: relative;
	left: 250px;
}

#scroll {
	position: relative;
	top: 100px;
	color: gray;
}

p {
	line-height: 200%;
	font-size: 1.5em;
}

a:hover {
	text-decoration: none;
	color: gray;
	}

a:visited {
	text-decoration: none;
	color: gray;
}

a {
	text-decoration: none;
	color: gray;
}



